<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Interview System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
  <nav class="navbar  mynav" role="navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand mynav" href="#">
            <img alt="Brand" width="30" height="30" src="https://i.fbcd.co/products/resized/resized-750-500/3f621b61843917703025a638d02a45375ef25f1e4b288e8bf3c66c698d976220.jpg">
        </a>
        <a class="navbar-brand mynav" href="{% url 'AddQuestion' %}">Add Questions</a>
        <a class="navbar-brand mynav" href="{% url 'AddTest' %}">Add Test</a>
        <a class="navbar-brand mynav" href="{% url 'UserList' %}">User Details</a>
        <a class="navbar-brand mynav" href="{% url 'AllTestList' %}">Test List</a>
        <a class="navbar-brand mynav" href="{% url 'AllQuestionList' %}">Question List</a>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}" class="btn btn-simple">Log out</a></li>
        </ul>
    </div>
    </nav>
    <div class="container">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Test Name</th>
                <th scope="col"></th>
              </tr>
            </thead>
            {%for test in tests%}
            <tbody>
                <tr>
                  <td>{{test.test_name}}</td>
                  <td><a class="btn btn-danger" href="{% url 'DeleteTest' test.id%}" role="button">Delete</a> </td>
                </tr>
              </tbody>
            {%endfor%}
            </table>
            </div>
</body>
</html>