<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Interview System</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <nav class="navbar  mynav" role="navigation" id="navbar">
        <div class="container">
        <a class="navbar-brand mynav" href="#">
            <img alt="Brand" width="30" height="30" src="https://i.fbcd.co/products/resized/resized-750-500/3f621b61843917703025a638d02a45375ef25f1e4b288e8bf3c66c698d976220.jpg">
        </a>
        <a class="navbar-brand mynav" href="{% url 'home' %}">Home</a>
        </div>
        </nav>

    <div class="container">
    <form method="POST">
        {% csrf_token %}

        <div class="form-group row">
            <div class="col-xs-3">
                <label for="username">Username</label>
                <input type="text" class="form-control" name='Username' id="username" placeholder="Enter username" required>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" name='Password' id="password" placeholder="Password" required>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>

      {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

    </div>


</body>
</html>